# Application configs

# model
THRESHOLD=0.6
TORCH_MODEL_DIR='ultralytics/yolov5'
TORCH_MODEL='yolov5s'

# camera
CAPTURE_DELAY=1
CAM_WIDTH=640
CAM_HEIGHT=480

# kafka producer
KAFKA_CONFIGS=/application/src/publish/config.json


